---
---

@import "jekyll-theme-midnight";

section {
  max-width:850px;
  padding: 30px 0px 0px 0px;
  margin: 20px 0;
  margin-top: 70px;
  margin-left: 150px;
  }

.wrapper {
  max-width:1050px;
  margin:0 auto;
  position:relative;
  padding: 0 0px;
}

body>header h1>a {
    text-decoration: none;
}

body>header h4 {
    margin-top: -10px;
}

h2 {
    width: 100%;
    min-width: 840px;
    color: #FF733A;
}

h2,h3,h4 {
    width: 100%;
    min-width: 840px;
}

hr {
    margin-left: 0;
    padding-left: 0;
	width: 100%;
	min-width: 840px;
}

pre {
    margin-left: 30px;
    padding: 5px;
    width: 80%;
}

code {
    padding-left: 3px;
    padding-right: 3px;
}

pre {
    margin-left: 30px;
    padding: 5px;
    width: 80%;
}

table {
    border: none;
}

td {
    padding-left: 20px;
}

a:hover {
    color: #696969;
}


main {
	width: 80%;
	min-width: 600px;
	margin-left: 150px;
	display: block;
}


nav {
	float: left;
	width: 130px;
	min-width: 130px;
	margin-right: 20px;
}



nav a:hover {
    color: #696969;
}

nav li {
    margin-left: -25px;
    list-style: none;
}
      

footer {
	clear: both;
	width: 100%;
}

article {
	margin: 10px;
}

article h2>a,
article h2>a:visited,
article h2>a:active {
    text-decoration: none;
    color: blue;
}

article h2>a:hover {
    color: #696969;
}

article .entry {
	margin-left: 15px;
	padding: 10px;
}

article .entry img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

article header span {
	margin-top: -10px;
	margin-bottom: -3px;
	margin-left: 5px;
}

article header h2 {
    margin-bottom: 3px;
}

section address {
    margin-left: 15px;
}

#paginator {
    padding: 10px;
}

#paginator a {
    text-decoration: none;
}

.more {
    margin-left: 80%;
}

.filelink {
color:#39CCCC;
}

.filelink:hover {
color:#696969;
}

.codelink {
color:#F012BE;
}

.codelink:hover {
color:#696969;
}

.alert {
color:#4682B4;
}


